@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* _content/PruebaServer/Pages/ClientPage/ClientPage.razor.rz.scp.css */
/* _content/PruebaServer/Pages/ClientPage/FormPrestamo.razor.rz.scp.css */
.container_card_prestamo_form_input[b-zkpwuupkro] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 100%;
    margin-top:1.5em;
}
.container_card_prestamo[b-zkpwuupkro] {
 
}
.btnSolicitar[b-zkpwuupkro] {
    margin-top: 5em;
}
/* _content/PruebaServer/Pages/ClientPage/PrestamosList.razor.rz.scp.css */
.grid_prestamos_container[b-s1dtjx1t12] {
    margin-top:2em;
    border: 1px solid gray;
    width: 19%;
    padding: 1.5em;
    border-radius: 0.5em;
}
.grid_prestamos[b-s1dtjx1t12] {
    margin-top:1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
/* _content/PruebaServer/Shared/MainLayout.razor.rz.scp.css */
.page[b-rpv8biamwb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-rpv8biamwb] {
    flex: 1;
}

.sidebar[b-rpv8biamwb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-rpv8biamwb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-rpv8biamwb]  a, .top-row .btn-link[b-rpv8biamwb] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-rpv8biamwb] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-rpv8biamwb] {
        display: none;
    }

    .top-row.auth[b-rpv8biamwb] {
        justify-content: space-between;
    }

    .top-row a[b-rpv8biamwb], .top-row .btn-link[b-rpv8biamwb] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-rpv8biamwb] {
        flex-direction: row;
    }

    .sidebar[b-rpv8biamwb] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-rpv8biamwb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-rpv8biamwb], article[b-rpv8biamwb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/PruebaServer/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7qi19lyiqr] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7qi19lyiqr] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7qi19lyiqr] {
    font-size: 1.1rem;
}

.oi[b-7qi19lyiqr] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7qi19lyiqr] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7qi19lyiqr] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7qi19lyiqr] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7qi19lyiqr]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-7qi19lyiqr]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-7qi19lyiqr]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7qi19lyiqr] {
        display: none;
    }

    .collapse[b-7qi19lyiqr] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-7qi19lyiqr] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
